/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  font: .25px 'courier';
  width: 320px;
  position: absolute;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

@media print {
  @page {
    size: 216mm 280mm; /* 8.5x11 */
    margin: 19mm;
  }
}

a:link {color:#0079c8; text-decoration:none;}
a:visited {color:#0079c8; text-decoration:none;}
a:hover {text-decoration:underline;}

pre {
  font: 13.25px 'courier';
  width: 670px;
  position: absolute;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}
